[trigger.http]
addr = "0.0.0.0:8000"
timeout = "1s"

[trigger.mqtt]
host = "localhost"
port = 1883
client_id = "service"

[source.database]
host = "localhost"
port = 5432
user = "root"
password = "password"
dbname = "postgres"
option = ["TimeZone=Asia/Shanghai", "sslmode=disable"]
max_idle_conn = 50
max_open_conn = 100
conn_max_lifetime = "30s"

[jwt]
verify_key = "12345"
login_expire_time = 360000
